In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
diabetes = pd.read_csv('data/diabetes.csv')
print(diabetes.columns)
diabetes.shape

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

(768, 9)

In [2]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#Build Diebetic prediction model

Feature Columns,Outcome -Target Columns

In [4]:
df=diabetes.loc[:, diabetes.columns != 'Outcome']

In [5]:
diabetes.shape

(768, 9)

In [6]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,74,23,112,26.2,0.245,30
766,1,126,0,0,0,30.1,0.349,47
767,1,128,70,31,0,30.4,0.315,23

In [7]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
diabetes.shape
#Feature Columns

(768, 9)

In [9]:
diabetes[['Glucose','Outcome']].corr()

          Glucose   Outcome
Glucose  1.000000  0.465754
Outcome  0.465754  1.000000

In [10]:
diabetes[['Insulin','Outcome']].corr()

          Insulin   Outcome
Insulin  1.000000  0.130548
Outcome  0.130548  1.000000

In [11]:
diabetes[['BMI','Outcome']].corr()

              BMI   Outcome
BMI      1.000000  0.292695
Outcome  0.292695  1.000000

In [12]:
diabetes[['BloodPressure','Outcome']].corr()

               BloodPressure   Outcome
BloodPressure       1.000000  0.058972
Outcome             0.058972  1.000000

In [13]:
diabetes[['DiabetesPedigreeFunction','Outcome']].corr()

                          DiabetesPedigreeFunction   Outcome
DiabetesPedigreeFunction                  1.000000  0.173844
Outcome                                   0.173844  1.000000

In [14]:
diabetes[['SkinThickness','Outcome']].corr()

               SkinThickness   Outcome
SkinThickness       1.000000  0.074752
Outcome             0.074752  1.000000

In [15]:
diabetes[['Pregnancies','Outcome']].corr()

             Pregnancies   Outcome
Pregnancies     1.000000  0.221898
Outcome         0.221898  1.000000

In [16]:
print("dimension of diabetes data: {}".format(diabetes.shape))

dimension of diabetes data: (768, 9)

In [17]:
print(diabetes.groupby('Outcome').size())

Outcome
0    500
1    268
dtype: int64

In [18]:
diabetes["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(diabetes.loc[:, diabetes.columns != 'Outcome'], diabetes['Outcome'],

                                                    #stratify=diabetes['Outcome'], random_state=66)
#80%,20%
#768
#614
X_train, X_test, y_train, y_test = train_test_split(diabetes.loc[:, diabetes.columns != 'Outcome'], diabetes['Outcome'],test_size=0.2,stratify=diabetes['Outcome'])
#80%,20%
#test_size=0.2

stratify=diabetes['Outcome']: This is a crucial parameter! By setting stratify to your target variable ('Outcome'), you ensure that the proportion of each class (e.g., diabetic and non-diabetic) is the same in both your training and testing sets as it is in the original dataset.

In [20]:
X_train.shape

(614, 8)

In [21]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
729,2,92,52,0,0,30.1,0.141,22
217,6,125,68,30,120,30.0,0.464,32
321,3,112,74,30,0,31.6,0.197,25
612,7,168,88,42,321,38.2,0.787,40
12,10,139,80,0,0,27.1,1.441,57
...,...,...,...,...,...,...,...,...
431,3,89,74,16,85,30.4,0.551,38
545,8,186,90,35,225,34.5,0.423,37
442,4,117,64,27,120,33.2,0.230,24
80,3,113,44,13,0,22.4,0.140,22
564,0,91,80,0,0,32.4,0.601,27

In [22]:
y_train

729    0
217    0
321    1
612    1
12     0
      ..
431    0
545    1
442    0
80     0
564    0
Name: Outcome, Length: 614, dtype: int64

In [23]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
729,2,92,52,0,0,30.1,0.141,22
217,6,125,68,30,120,30.0,0.464,32
321,3,112,74,30,0,31.6,0.197,25
612,7,168,88,42,321,38.2,0.787,40
12,10,139,80,0,0,27.1,1.441,57
...,...,...,...,...,...,...,...,...
431,3,89,74,16,85,30.4,0.551,38
545,8,186,90,35,225,34.5,0.423,37
442,4,117,64,27,120,33.2,0.230,24
80,3,113,44,13,0,22.4,0.140,22
564,0,91,80,0,0,32.4,0.601,27

In [24]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
634,10,92,62,0,0,25.9,0.167,31
724,1,111,94,0,0,32.8,0.265,45
396,3,96,56,34,115,24.7,0.944,39
603,7,150,78,29,126,35.2,0.692,54
66,0,109,88,30,0,32.5,0.855,38
...,...,...,...,...,...,...,...,...
415,3,173,84,33,474,35.7,0.258,22
405,2,123,48,32,165,42.1,0.520,26
584,8,124,76,24,600,28.7,0.687,52
524,3,125,58,0,0,31.6,0.151,24
742,1,109,58,18,116,28.5,0.219,22

In [25]:
y_test

634    0
724    0
396    0
603    1
66     1
      ..
415    1
405    0
584    1
524    0
742    0
Name: Outcome, Length: 154, dtype: int64

In [26]:
y_train

729    0
217    0
321    1
612    1
12     0
      ..
431    0
545    1
442    0
80     0
564    0
Name: Outcome, Length: 614, dtype: int64

In [27]:
y_train.shape

(614,)

In [28]:
X_test.shape

(154, 8)

In [29]:
y_test.shape

(154,)

In [30]:
from sklearn.neighbors import KNeighborsClassifier # Importing KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'.format(knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'.format(knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 0.81
Accuracy of K-NN classifier on test set: 0.72

In [ ]:
#Pregnancies	Glucose	BloodPressure	SkinThickness	Insulin	BMI	DiabetesPedigreeFunction	Age

Pickle file saving

In [31]:
import pickle

In [32]:
with open('pickle/knn_diab.pkl', "wb") as f:  #Opens the file at meta_path in write-binary mode ("wb").
            pickle.dump(knn, f)

In [33]:
with open('pickle/knn_diab.pkl', "rb") as f:
            knn_diab = pickle.load(f)

In [35]:
sample = [[0,90,88,44,0,43.3,0.222,26]]
preds = knn_diab.predict(sample)
print("Predictions:", preds)

Predictions: [0]

c:\Users\a812616\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [36]:
sample = [[0,181,88,44,510,43.3,0.222,26]]
preds = knn.predict(sample)
print("Predictions:", preds)

Predictions: [1]

c:\Users\a812616\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [37]:
sample = [[0,181,88,44,510,43.3,0.222,26]]
preds = knn_diab.predict(sample)
print("Predictions:", preds)

Predictions: [1]

c:\Users\a812616\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# making predictions on the testing set
from sklearn import metrics
from sklearn.metrics import confusion_matrix
y_pred = knn.predict(X_test)
print(y_pred)
print("kNN model accuracy:", metrics.accuracy_score(y_test, y_pred))

print(confusion_matrix(y_test, y_pred))

[0 0 0 1 0 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 1 1 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0 0 0 1 0 0 1
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 1 0 0 0
 0 0 0 0 1 0]
kNN model accuracy: 0.7207792207792207
[[85 15]
 [28 26]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.85      0.80       100
           1       0.63      0.48      0.55        54

    accuracy                           0.72       154
   macro avg       0.69      0.67      0.67       154
weighted avg       0.71      0.72      0.71       154

In [ ]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1])

In [ ]:
#extracting true_positives, false_positives, true_negatives, false_negatives
tp, fp, fn, tn = confusion_matrix(y_test, y_pred).ravel()
print("True Positives: ",tp)
print("False Positives: ",fp)
#https://www.geeksforgeeks.org/numpy-ravel-python/

True Positives:  98
False Positives:  27

In [ ]:
print("False Negative: ",fn)
print("True Negative: ",tn)

False Negative:  26
True Negative:  41

In [ ]:
#Accuracy
Accuracy = (tn+tp)*100/(tp+tn+fp+fn)
print("Accuracy {:0.2f}%:".format(Accuracy))

Accuracy 72.40%:

In [ ]:
#Precision
Precision = tp/(tp+fp)
print("Precision {:0.2f}".format(Precision))

#ideally fp should be Zero

Precision 0.78

In [ ]:
#Recall
Recall = tp/(tp+fn)
print("Recall {:0.2f}".format(Recall))

Recall 0.79

In [ ]:
#F1 Score
f1 = (2*Precision*Recall)/(Precision + Recall)
print("F1 Score {:0.2f}".format(f1))

F1 Score 0.79

# http://benalexkeen.com/feature-scaling-with-scikit-learn/

# http://benalexkeen.com/scoring-classifier-models-using-scikit-learn/